<!DOCTYPE html>
<html>
<head>
    <title>Builder Login</title>
    <!--Builder login-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="D:\pro\style.css">
</head>
<body>
   
    <div class="register">
    <form method="POST" class="form">
        <h2>Builder Login</h2>
        <input type="text" placeholder="username" id="username" name="username" required>
        <br>
        <input type="password" placeholder="password" id="password" name="password" required>
        <br>
        <button type="submit" value="Login">Login
        </button>

    </form>
</div>
</body>
</html>