<!DOCTYPE html>
<html>
<head>
    <title>Builder Registration</title>
    <!--Builder registration-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="C:\Users\rishi\Desktop\test2\static\style.css">
</head>
<body>
     <div class="register">   
  
    <form method="POST" class="form">
        <h1>Builder Registration</h1>
        <br>
        <input type="text" placeholder="Name" id="name" name="username" required>
        <br>
        <input type="password" placeholder="password" id="password" name="password" required>
        <br>
        <input type="text" placeholder="Services Provided" id="services_provided" name="services_provided" required>
        <br>
        <input type="text" placeholder="GSTIN" id="gstin" name="gstin" required>
        <br>
        <input type="text" placeholder="Address" id="address" name="address" required>
        <br>
        <button type="submit" value="Register">Register
    </button>
    </form>
</div>
</body>
</html>
