<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <!--First page-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </style>
</head>
<body>
    
   <!-- <div class="top-bar">  
    <a href="/login">
        <button> Login</button>
    </a>

    <a href="/register">
        <button>Register</button>
    </a>
</div>-->
<div class="dropdown">
    <button class="dropbtn">Login</button>
    <div class="dropdown-content">
      <a href="client-login">Client Login</a>
      <a href="builder-login">Builder Login</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Register</button>
    <div class="dropdown-content">
      <a href="client-registration">Client Register</a>
      <a href="builder-registration">Builder Register</a>
    </div>
</div>
        <h1>Welcome to the Construction Site</h1>
    <p>In the construction industry, numerous processes continue to rely on traditional methods, resulting in a lack of modernization. However, this project endeavors to revolutionize the construction field by leveraging cutting-edge technologies. By introducing innovative solutions, this project serves as a vital link between builders and clients, facilitating seamless communication and collaboration throughout the construction process.</p>

    <p> By integrating modern technologies, such as artificial intelligence and advanced automation systems, this project aims to streamline and optimize various construction processes. These advancements enable builders to embrace efficient project management practices, enhance client communication, and improve resource management.</p>

    <p> Furthermore, this project fosters a dynamic environment where builders and clients can interact seamlessly. Through a user-friendly digital platform, clients can effortlessly access project updates, provide feedback, and make informed decisions. Simultaneously, builders can efficiently communicate project milestones, address client concerns, and ensure timely completion of construction projects.</p>

    <p>By bridging the gap between traditional construction practices and contemporary technological advancements, this project not only elevates the efficiency and effectiveness of the construction field but also enhances overall client satisfaction. The integration of modern technologies empowers builders to deliver projects with increased accuracy, reduced costs, and shorter timelines, while clients benefit from improved transparency, better project understanding, and greater control over their construction endeavors.</p>

    <p>    In summary, this project acts as a catalyst for transforming the construction industry into a modernized and technologically advanced domain. By embracing the potential of modern technologies and fostering strong builder-client connections, it paves the way for a future where construction processes are streamlined, optimized, and deliver outstanding results for clients.</p>

</body>
</html>
